<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <form class="form-style-1" action="/login" method="post">
      <label for="Name">Name: </label>
        <input class="name" type="text" name="name" placeholder='Please enter your name'>
      <input class="login" type="submit" name="submit" value="Login">
    </form>
  </body>
</html>
