* {
	padding: 0;
	margin: 0;

}
#wrapper {
	padding: 25px;
	background-color: rgb(216, 244, 212);
	width:auto;
	height: 900px;
}
#header {
  text-align: center;

}
#header h1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: bold 24px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom: 1px solid black;
	width: 600px;
}

#new-message .form-style-1 {
		margin:10px auto;
		max-width: 400px;
		padding: 20px 12px 10px 20px;
		font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#new-message .form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
#new-message .form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
#new-message .form-style-1 input[type=text]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
#new-message .form-style-1 input[type=text]:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
#new-message .form-style-1 .field-divided{
	width: 49%;
}

#new-message .form-style-1 .field-long{
	width: 100%;
}
#new-message .form-style-1 .field-select{
	width: 100%;
}
#new-message .form-style-1 .field-textarea{
	height: 100px;
}
#new-message .form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
#new-message .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#new-message .form-style-1 button{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
#new-message .form-style-1 button:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#new-message .form-style-1 .required{
	color:red;
}

.all-message ul {
	list-style: none;
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 35%;
	margin-right: 40%;
}

.all-message label {
	text-align: left;
}

#all-message .form-style-1 {
		margin:10px auto;
		max-width: 400px;
		padding: 20px 12px 10px 20px;
		font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#all-message .form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
#all-message .form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
#all-message .form-style-1 input[type=text]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
#all-message .form-style-1 input[type=text]:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
#all-message .form-style-1 .field-divided{
	width: 49%;
}

#all-message .form-style-1 .field-long{
	width: 100%;
}
#all-message .form-style-1 .field-select{
	width: 100%;
}
#all-message .form-style-1 .field-textarea{
	height: 100px;
}
#all-message .form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
#all-message .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#all-message .form-style-1 button{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
#all-message .form-style-1 button:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#all-message .form-style-1 .required{
	color:red;
}
